<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://unpkg.com/htmx.org"></script>
    <title>Document</title>
</head>
<body hx-headers='{ "X-CSRFToken" : "{{csrf_token}}"}'>
    <div class="flex w-1/2 m-12">
        <div class="w-1/2 p-4 space-y-2 bg-red-100">
            {% for region in regions %}
                <div class="cursor-pointer" hx-get="{% url 'state' %}?region={{region.0}}" hx-target="#a3">{{region.1}}</div>
                <!-- <div class="cursor-pointer" hx-get="{% url 'state' %}" hx-target="#a3">{{region.1}}</div> -->
            {% endfor %}
        </div>
        <div class="w-1/2 p-4 space-y-2 bg-blue-100" id="a3">target</div>
    </div>
    <hr class="border border-black">
    <div class="m-12 space-x-5">
    <select name="region" id="" hx-get="{% url 'drop'%}" hx-target="#b3">
        {% for region in regions %}
            <option value="{{region.0}}">{{region.1}}</option>
        {% endfor %}
    </select>
    <select name="name2" id="b3">
    </select>
    </div>
    <hr class="border border-black">
    <div class="m-12 space-y-4">
    <form hx-headers='{"X-CSRFToken": "{{csrf_token}}"}'
        hx-post="{% url 'expense' %}"
        hx-target="#goal1"
        hx-swap="innerHTML"
        hx-on::after-request="document.querySelector('form').reset()">
        {% for field in form %}
        {{field}}
        {% endfor %}
        {% comment %} <input type="text" class="border-2"> {% endcomment %}
        {% comment %} <input type="text" class="border-2"> {% endcomment %}
        <button class="p-2 text-white bg-green-400">add</button>
    </form>
    <div class="flex gap-3 m-8" >
        <button class="p-4 text-lg text-white bg-green-500" hx-post="{% url 'paid' %}" hx-target="#goal1" hx-include="#table_input">paid</button>
        <button class="p-4 text-lg text-white bg-red-500" hx-post="{% url 'no_paid' %}" hx-target="#goal1" hx-include="#table_input">no-paid</button>
    </div>
    <hr>
    <button hx-post="{% url 'paid'%}" hx-target="#t1">test2</button>
    <div id="t1">here</div>
    <hr>
    <table class="border-spacing-4 w-full table-auto" id="table_input">
        <thead class=" border-b-4">
            <tr>
                <th class="text-start w-1/12 px-4 py-4">BOX</th>
                <th class="text-start w-5/12 px-4 py-4">Name</th>
                <th class="text-start w-2/12 px-4 py-4">Price</th>
                <th class="text-start w-2/12 px-4 py-4">Paid</th>
                <th class="text-start w-2/12 px-4 py-4">---</th>
            </tr>
        </thead>
        <tbody class="divide-y-2" id="goal1">
           {% include "regis2/table.html" %}
        </tbody>
    </table>
    </div>
</body>
</html>