{% extends 'store1/base.html' %}

{% block content %}
<header class="lg:py-20 px-6 py-10 bg-purple-500">
    <div class="max-w-3xl mx-auto text-center">
        <p class="lg:text-5xl mb-2 text-3xl text-white">Welcome to Nordic Homes</p>

        <p class="mb-10 text-white">We sell furnitues for the modern home</p>

        <a href="#" class="rounded-xl hover:bg-gray-200 inline-block px-8 py-4 text-purple-500 bg-white">Start shopping</a>
    </div>
</header>

<div class="xl:px-0 max-w-6xl px-6 py-2 mx-auto">
    <div class="products flex flex-wrap items-center">
    {% for product in products %}
        {% include 'store1/product_list.html' %}
    {% endfor %}
    </div>
</div>
{% endblock %}