{% extends 'store1/base.html' %}

{% block content %}
<div class="xl:px-0 flex flex-wrap max-w-6xl px-6 py-6 mx-auto">
    <div class="images lg:mb-0 lg:w-3/5 w-full mb-6">
        <img class="rounded-xl" src="1.jpg">
    </div>

    <div class="information lg:w-2/5 lg:p-6 w-full">
        <h1 class="text-2xl">Product Name</h1>

        <p class="mt-1 text-gray-400">$9.99</p>

        <p class="mt-6 text-gray-700">Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet.</p>

        <a href="#" class="rounded-xl hover:bg-purple-700 inline-block px-8 py-4 mt-6 text-white bg-purple-500">
            Add to cart
        </a>
    </div>
</div>
{% endblock %}