{% load static %}
<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0"
        >
        <link
            rel="stylesheet"
            href="{% static 'style.min.css' %}"
        >
        <script src="{% static 'htmx.min.js' %}"></script>
        <title>Document</title>
    </head>

    <body>
        <div class="flex justify-center items-center gap-5 p-20 h-screen">
            <div class="flex flex-col border-4 border-slate-500 w-full h-full">
                <form
                    class="m-auto"
                    hx-post="{% url 'upload' %}"
                    hx-target="#res"
                    hx-swap="innerHTML"
                    enctype="multipart/form-data"
                    hx-encoding="multipart/form-data"
                >
                    {% csrf_token %}
                    <input
                        type="file"
                        name="image"
                        class="border-slate-400 border"
                    >
                    <button
                        type="submit"
                        class="bg-green-500 p-2 rounded-xl text-white"
                    >send</button>
                </form>
            </div>
            <div class="flex border-4 border-slate-500 w-full h-full">
                <div
                    id="res"
                    class="m-auto"
                >test</div>
            </div>
        </div>
    </body>

</html>