{% extends "blog1/layout_a.html" %}

    {% block main %}
     <main class="col-span-full md:col-span-2 md:mr-[5%] lg:mx-[10%] order-2 md:order-1">
        {% for post in posts %}
        <article class="card">
            <div class="h-14 flex items-center justify-between px-4">
                <h3 class="text-start mr-1 leading-5">{{post.title}}</h3>
                <div class="text-sm text-gray-400 truncate">flickr<a href="" class="hover:underline ml-1" target="blank">@John Doe</a></div>
            </div>
            <figure>
                <a href=""><img class="w-full" src="{{post.image}}"></a>
            </figure>
            <div class="p-4 pb-2">
                <a class="flex items-center gap-1 mb-4" href="">
                    <img class="object-cover w-8 h-8 rounded-full" src="https://img.icons8.com/small/96/A9A9A9/happy.png">
                    <span class="hover:underline font-bold">Lisa</span>
                    <span class="text-sm text-gray-400">@lisasimpson</span>
                </a>
                <p class="font1 px-4 mb-10 text-5xl">{{post.body}}</p>
                <div class="flex flex-wrap items-center gap-2 mb-5 text-sm">
                    <a href="" class="hover:bg-gray-800 hover:text-white px-3 py-1 bg-gray-200 rounded-full">Animals</a>
                    <a href="" class="hover:bg-gray-800 hover:text-white px-3 py-1 bg-gray-200 rounded-full">Black & White</a>
                </div>
                <div class="flex items-center justify-between px-2 text-sm">
                    <a class="hover:underline font-bold" href="">
                        Comments
                        <span class="ml-1 font-light text-gray-500">3</span>
                    </a>
                    <div class="flex items-center gap-4 [&>a:hover]:underline">
                        <div class="flex items-center gap-1">
                            <img class="w-5 -mt-1" src="https://img.icons8.com/small/24/000000/fire-heart.png">
                            1
                        </div>
                        <a href="">Like</a>
                        <a href="">Edit</a>
                        <a href="">Delete</a>
                    </div>
                </div>
            </div>
        </article>
        {% endfor %}
    </main>
    {% endblock main %}


