<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/htmx.org"></script>
    <title>Document</title>
    <style>
        table, tr, td {
            border: 1px solid;
        },
        .warning {
            color: #ff0000;
            font-weight: bold;
        }
    </style>
</head>
<body>
    <a href="">test</a>
    <hr>
    <table style="width: 600px;">
    {% for row in car_qs %}
        {% comment %} <div>{{row.id}}: {{row.make}} - {{row.model}} - {{row.year}}</div> {% endcomment %}
        <tr id="row_{{row.id}}">
            <td>{{row.id}}</td>
            <td>{{row.make}}</td>
            <td>{{row.model}}</td>
            <td>{{row.year}}</td>
            <td><button
                style="background-color: #ff4233;"
                id="delete_btn"
                car_id="{{row.id}}"
                hx-get="{% url 'delete' car_id=row.id %}"
                hx-target="#row_{{row.id}}"
                hx-confirm="are u sure to delete: {{row.make}} - {{row.model}} - {{row.year}}?"
            >delete</button>
            </td>
        </tr>
    {% endfor %}
    </table>
    <script>
        document.body.addEventListener('htmx:configRequest', (event)=>{
            event.detail.headers['X-CSRFToken'] = '{{csrf_token}}';
        })
    </script>
</body>
</html>