<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/htmx.org"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Sales </title>
</head>
<div>
    <header>
        Your Sales on {% now 'D M Y' %}
    </header>
    <div>
        <div>
            <div>
                <table>
                    <thead>
                    <tr>
                        <th>Price</th>
                        <th>Product</th>
                        <th>Category</th>
                        <th>Customer</th>
                        <th>Time</th>
                        <th><span>More</span></th>
                    </tr>
                    </thead>
                    <tbody id="table-body">
                    {% include 'poll1/row-list.html' with purchases=purchases %}
                    <div hx-get="{% url 'row1' %}" hx-trigger="every 2s" hx-swap="afterbegin" hx-target="#table-body"></div>
                    </tbody>
                </table>
                {% comment %} <button hx-get="{% url 'row1' %}" hx-swap="aferbegin" hx-target="#table-body">poll</button> {% endcomment %}
            </div>
        </div>
    </div>
</div>
</html>