{% for task in tasks %}
<li class="py-4">
    <div class="flex items-center">
        <input
            hx-put="{% url 'edit_task' task.id %}"
            hx-target="#tasks"
            {% if task.status %}checked{% endif %}
            id="i{{forloop.counter}}"
            name="todo1"
            type="checkbox"
            class="focus:ring-teal-500 w-4 h-4 text-teal-600 border-gray-300 rounded"
        >
        <label
            for="i{{forloop.counter}}"
            class="block ml-3 text-gray-900"
        >
            <span class="text-lg font-medium">
            {% if task.status  %}
                <s>{{task.title}}</s>
            {% else %}
                {{task.title}}
            {% endif %}</span>
            <span class="text-sm font-light text-gray-500">Due on {{task.updated_at}}</span>
        </label>
        <span
            class="px-5 cursor-pointer"
            hx-delete="{% url 'delete_task' task.id %}"
            hx-target="#tasks"
        >X</span>
    </div>
</li>
{% endfor %}