<navbar class="flex justify-between">
    <div class="flex items-center gap-4">
        <img src="https://dummyjson.com/icon/abc123/50" alt="">
        {% comment %} <ul class=" flex gap-3">
            <li><a href="#">Home</a></li>
            <li><a href="#">Link</a></li>
            <li><a href="#">DropDown <span class="rotate-180"> v </span></a></li>
        </ul> {% endcomment %}
    </div>
    <div class="flex gap-2">
    <input class="rounded-xl p-2 mx-4 my-2 border-2" placeholder="search" type="text">
    {% comment %} <button>search</button> {% endcomment %}
    </div>
</navbar>