{% load static %}
<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0"
        >
        <link
            rel="stylesheet"
            href="{% static 'style.min.css' %}"
        >
        <script src="{% static 'htmx.min.js' %}"></script>
        <title>Document</title>
    </head>

    <body>
        <div class="space-y-8 mx-auto mt-10 w-5/6">
            <h1 class="font-bold text-3xl text-center underline">my list</h1>
            {% for book in books %}
            <ul class="flex gap-2 bg-green-300 mx-auto p-2 w-fit text-center text-white">
                <div>{{book.title}}</div>
                <button
                    class="bg-red-300 p-2 text-white"
                    hx-delete="{% url 'delete' book.id %}"
                    hx-headers='{"X-CSRFToken" : "{{csrf_token}}"}'
                >delete</button>
            </ul>
            {% endfor %}
            <ul
                class="mx-auto text-center"
                id="goal"
            ></ul>
            <form
                class="flex gap-2 w-full"
                hx-post="{% url 'task' %}"
                hx-swap="beforeend"
                hx-target="#goal"
                hx-on::after-request="document.querySelector('form').reset()"
            >
                {% csrf_token %}
                <input
                    type="title"
                    class="border w-full"
                    name="title"
                >
                <input
                    type="author"
                    class="border w-full"
                    name="author"
                >
                <button
                    class="bg-blue-400 p-2 text-white"
                    type="submit"
                    hx-on:click="console.log('added', event)"
                >submit</button>
            </form>
        </div>
    </body>

</html>